@charset "UTF=pt-br";
body{
    background-color: black;
    color: white;
    background: url(../imagens/fd.png);
    background-size: cover;
}
nav{
    display: block;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin: 10px;
    border: 2px solid rgb(126, 7, 162);
}
div#box-text {
    width: 100%;
    position: center;
    border-radius: 10px;
}
.camada1{
    width: 100%;
    height: 100%;
}
section{
    margin-top: 100px;
    margin-left: 20px;
}
.flex-container h1{
    font-family: cursive;
    text-align: center;
    border: 1px solid rgb(124, 76, 191);
    padding: 3px;
    margin: 5px;
    width: 500px;
}
.flex-container p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    border: 1px solid rgb(31, 22, 116);
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 150px;
}
.flex-item{
    display: inline-flex;
    height: 90px;
    box-shadow: 1px 1px 1px rgb(119, 119, 120);
}