@charset "UTF=pt-br";
*{
    font-family:monospace;
}
a{
    text-decoration: none;
    margin: 5px;
}
body{
    background-color: black;
    color: white;
    background-size: cover;
}
nav{
    display: block;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgb(126, 7, 162);
}
section{
    max-width: 800px;
    padding: 1px;
    text-align: center;
}
section#interface h1{
    display: block;
    font-family: cursive;
    text-align: center;
    border: 1px solid rgb(124, 76, 191);
}
section#interface p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid rgb(31, 22, 116);
    padding: 10px;
}
.flex-item{
    box-shadow: 1px 1px 1px rgb(119, 119, 120);
}
footer{
    margin-top: 100px;
}
img{
    display: block;
    margin: auto;
    max-width: 255px;
}
p{
    max-width: 85%;
    margin: auto;
    margin-top: 15px;
}